@tailwind base;
@tailwind components;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255; */
}

body {
  @apply bg-gray-100 text-black;
}

body:has(.cart-open),
body:has(.menu-open) {
  @apply overflow-hidden;
}

::selection {
  @apply bg-purple-200;
}

a {
  @apply transition duration-200;
}

.btn {
  @apply inline-flex justify-center items-center px-3 py-2 rounded bg-purple-800 text-white hover:bg-purple-900 text-sm font-medium transition duration-200 gap-1;
}

.btn--outline {
  @apply bg-transparent border text-purple-800 hover:text-white border-purple-800 hover:bg-purple-800;
}

.btn--lg {
  @apply text-lg px-5 py-4;
}

.btn--outline.btn--lg {
  @apply border-2;
}

.btn svg {
  width: 1em;
  height: 1em;
}

@tailwind utilities;
